.board {
  width: 840px;
  height: auto;
  border: 1px solid black;
}

.board table {
  width: 100%;
  border-collapse: collapse;
}

.board th {
  height: 50px;
  background-color: #f9f9f9;
}
.board-th-title {
  width: 500px;
}
.board-th-writer {
  width: 85px;
}
.board-th-writing-date {
  width: 85px;
}
.board-th-view-count {
  width: 85px;
}
.board-th-recommendation-count {
  width: 85px;
}

.board td {
  height: 40px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  /* padding-left: 5px; */
}
.board-td-title {
  width: 500px;
  padding-left: 20px;
}
.board-td-writer {
  width: 85px;
  text-align: center;
}
.board-td-writing-date {
  width: 85px;
  text-align: center;
}
.board-td-view-count {
  width: 85px;
  text-align: center;
}
.board-td-recommendation-count {
  width: 85px;
  text-align: center;
}
