.advertisement {
  width: 180px;
  margin-bottom: 20px;
}

/*
<a> 태그 안에 <img> 태그를 넣을 때, 이미지 주위에 예상치 못한 여백이 발생하는 이유는
<img> 태그가 기본적으로 인라인 요소로 취급되기 때문임.

인라인 요소는 텍스트와 함께 줄을 맞추기 때문에, 이미지 주위에 여백이 생길 수 있음.
이 문제는 특히 이미지를 둘러싼 텍스트의 베이스라인(기준선) 정렬 때문임.
기본적으로 이미지가 텍스트의 기준선에 맞추어 정렬되면서, 이미지 하단에 작은 공백이 생김.
이 공백은 보통 텍스트의 하단 여백과 관련이 있음.

display: block;: 이미지를 블록 요소로 바꾸어 공백을 제거할 수 있음.
vertical-align: middle;: 이미지를 중간 정렬하여 공백을 제거할 수 있음.
line-height: 0;: 부모 요소의 line-height를 0으로 설정하여 공백을 제거할 수 있음.
*/
.advertisement a > img {
  display: block;
}
